/* Importing google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

/* CSS constants */
:root {
    /* Color const for background */
    --body-background: #F2F2F2;

    /* Dark color constant */
    --dark-color:#27374d;

    /* Accent color */
    --accent: #068FFF;

    /* Light color for containers */
    --light-color: #DDE6ED;

    /* Constants for box shadow */
    --box-shadow: -4px 8px 10px -5px rgba(0, 0, 0, 0.20);

}

/* Styles for body tag on all pages */
body {
    background-color: var(--body-background);
}

/* ------------LOGIN PAGE--------------- */

/* Style for all the pages */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


::selection {
    background: var(--dark-color);
}

/* Frame of the Logo */
.logobox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Adding the styles to the logo */
.logo {
    width: 350px;
    flex-shrink: 0;
    justify-content: center;
    display: flex;
}

/* Setting the style for all the img tags */
.logo-width {
    width: 65%;
}

/* Light blue colored box */
.container {
    max-width: 440px;
    padding: 0 20px;
    margin: 0px auto;
}

/* Margins and style for the container */
.wrapper {
    width: 100%;
    background: var(--body-background);
}



/* Name of the page */
.wrapper .subtitle {
    padding-top: 20px;
    padding-bottom: 10px;
    background: var(--body-background);
    border-radius: 5px 5px 0 0;
    color: var(--dark-color);
    font-size: 24px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Padding for the text field */
.wrapper form {
    padding: 5px 25px 15px 25px;
}

/* Text fields */
.wrapper form .row {
    height: 45px;
    margin-bottom: 15px;
    position: relative;
}

/* Margins for the textfields */
.wrapper form .row input {
    height: 100%;
    width: 100%;
    outline: none;
    padding-left: 60px;
    border-radius: 5px;
    border: 0px;
    font-size: 16px;
    transition: all 0.3s ease;
}

/* backgound styles and shadow for the container */
form .row input:focus {
    border-color: var(--light-color);
    box-shadow: var(--box-shadow);
}

/* Styles for the placeholder */
/* form .row input::placeholder {
    color: #ffffff;
} */

/* Styles for the text above the text-field */
label {
    display: block;
    margin-top: 5px;
    font-size: 16px;
    font-weight: 500;
}

/* Styles for Text-field */
input,
select {
    display: block;
    
    height: 40px;
    width: 100%;
    
    background-color: var(--body-background);
    
    border-radius: 3px;
    
    padding: 0 10px;
    margin-top: 8px;
    margin-bottom: 10px;
    
    font-size: 14px;
    font-weight: 500;
    
    border-top-width: 0px;
    border-left-width: 0px;
    border-bottom-width: 0px;
    border-right-width: 0px;
}

/* Text above and below the login button */
.wrapper form {
    margin: 10px 0 5px 0;
    font-size: 13px;
}

/* On click link change the color */
.wrapper form .container-label a {
    color: var(--accent);
    text-decoration: none;
}

/* When clicked the link, it turns to the underlined text */
.wrapper form .container-label a:hover {
    text-decoration: underline;
}

/* Styles for the login button */
.wrapper form .button input {
    color: var(--body-background);
    font-size: 20px;
    font-weight: 500;
    padding-left: 0px;
    background: var(--accent);
    border: 1px solid var(--accent);
    cursor: pointer;
}

/* Background color for the lgin button */
form .button input:hover {
    background: var(--accent);
}

/* Signup button */
.wrapper form .signup-link {
    text-align: center;
    margin-top: 20px;
    font-size: 13px;
}

/* Signup ling color */
.wrapper form .signup-link a {
    color: var(--accent);
    text-decoration: none;
}

/* When clicked signup text turns gets underline */
form .signup-link a:hover {
    text-decoration: underline;
}

/* ---------------------------------------------------------- */



/* ------------------HOME PAGE------------------------ */

/* App name and search icons frame */
.top {
    width: 360px;
    height: 8vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px auto 20px;
}

/* Title text style */
.top .large-head {
    padding-top: 10px;
    padding-bottom: 0px;

    width: 360px;
    height: 8vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px auto 20px;
}

/* Search button Frame size */
.top .search {
    margin-right: 0px;
    height: 50px;
    width: 50px;

    color: var(--body-background);
    cursor: pointer;
}

/* Search button size */
.fa-5x {
    font-size: 1.2em;
}

/* Search button style */
.circle-icon {
    background: var(--dark-color);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    vertical-align: middle;
    padding: 0px;
    margin-top: 10px;
}

/* Project and staff tab button */
.top_btn {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 0px;
}

/* Profile and Staff tab style */
.top_btn #btn1,
.top_btn #btn2 {
    width: 50%;
    height: 40px;
    font-size: 16px;
    font-weight: 500;
    /* padding: 3px 40px; */
    margin: 10px 10px 10px 0;
    border: solid 2px var(--dark-color);
    border-radius: 10px;
    cursor: pointer;
}

/* Active tab style */
.active_btn {
    background-color: var(--dark-color);
    color: var(--body-background);
    transition: 0.5s;
}

/* Inactive tab style */
.inactive_btn {
    background-color: var(--body-background);
    color: var(--dark-color);
    transition: 0.5s;
}

/* Box margin */
.wrapper {
    width: 95%;
    margin: 15px auto;
    background-color: var(--light-color);
    padding: 15px;
    border-radius: 15px;
    box-shadow: var(--box-shadow);
}

/* Client text frame */
.head {
    display: flex;
    flex-direction: row;
}

/* Project client name */
.clientname {
    color: var(--dark-color);

    font-size: 16px;
    margin-top: 10px;
    margin-left: 15px;
    font-weight: 700;
}

/* Head text style */
/* .head {
          font-size: 16px;
          margin-top: 10px;
          margin-left: 15px;
          font-weight: 600;
      } */

/* Container body text */
.track {
    font-size: 14px;
    font-weight: 600;
    color: var(--dark-color);
    /* padding: 20px; */
}

/* Navigation bar style */
.bnav {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-around;
    max-width: 90%;
    height: 60px;
    border-radius: 10px;
    color: var(--body-background);
    background-color: var(--dark-color);

    position: fixed;
    bottom: 0;
    left: 5%;
    right: 5%;
}

/* Navigation bar items */
.bnav a {
    text-decoration: none;
    color: var(--body-background);
    background-color: transparent;
    align-self: center;
    width: auto;
}

/* Size of elements on screen size 425px */
@media screen and (max-width: 425px) {
    .top {
        width: 80%;
    }

    .container {
        width: 100%;
    }

    .wrapper .head .clientname {
        font-size: 18px;
    }
}

/* Size of elements on screen size 425px */
@media screen and (max-width: 375px) {
    .top {
        width: 80%;
    }

    .container {
        width: 100%;
    }

    .wrapper .head .clientname {
        font-size: 14px;
    }

    .wrapper .head .small-logo {
        width: 60px;
    }
}

/* Size of elements on screen size 425px */
@media screen and (max-width: 320px) {
    .top {
        width: 80%;
    }

    .container {
        width: 100%;
    }

    .wrapper .head .clientname {
        font-size: 14px;
    }

    .wrapper .head .logo {
        width: 45px;
    }

    .track {
        font-size: 12px;
    }
}

/* ----------------------------------------------------- */


/* common css code */
.font-style-Quicksand {
    color: var(--Background, var(--dark-color));
    /* text-align: center; */
    font-family: Quicksand;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

/* Ndetail css */
/* this css is also used in many pages that have same design or button */
.NDetail-main-section {
    width: 100%;
    padding: 2vh 0;
    height: 100%;
    /* background-color: aqua; */
}

.backward-arrow-icon {
    margin: 1vh 1vh;
}

.NDetail-project-title {
    margin: 1vh 2vh;
    /* background-color: blue; */
}

.project-information-section,
.project-requirement-section {
    width: 84%;
    border-radius: 2vh;
    text-align: justify;
    padding: 2vh;
    height: 100%;
    background-color: rgb(244, 245, 245);
    margin: 2vh auto;
}

/* //to :increment font size */
.fs-2x {
    font-size: 18px;
}

.Ndetail-project-document {
    display: flex;
    background-color: rgb(244, 245, 245);
    width: 83%;
    padding: 2vh;
    margin: auto;
    border-radius: 2vh;
    align-items: center;
    justify-content: space-around;
}

.profile-logo {
    width: 8vh;
    height: 8vh;
    /* background-color: green; */
    /* margin: auto; */
    background-size: cover;
    background-image: url("./img/logo.png");
}

.project-overview {
    margin: 1vh 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.project-overview-title {
    margin: 2vh 2vh;
}

.project-overview-title-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin: 1vh auto;
}

.project-overview-title-info p {
    font-size: 14px;
}

.project-suggestion {
    padding: 0;
    height: 9vh;
    /* margin: 0; */
}

.profile-img {
    width: 8vh;
    height: 8vh;
    background-color: rgb(216, 189, 189);
    border-radius: 50%;
    margin: 0;
    /* padding:0; */
}

.hod-suggestion-info {
    width: 90%;
    margin: auto;
}

.project-suggestion-headline p {
    font-size: 13px;
}


/* //submission form css */
.submission-form-input {
    width: 90%;
    height: 35vh;
    padding: 2vh;
    margin: auto;
}

.submission-form-input label {
    color: var(--Selected-Color, var(--dark-color));
    text-align: justify;
}

.submission-form-input input {
    width: 98%;
    height: 12%;
    border-radius: 1vh;
    border: none;
    outline: none;
    padding: 1vh;
    margin: 0.3vh 0 1.7vh;
    border-radius: 10px;
    background: var(--Selected-Color, var(--dark-color));
    color: var(--Background, var(--body-background));
}

.submission-form-input input::placeholder {
    color: var(--Background, var(--body-background));

}

/* display class are css used to overwrite some css property */
.display-flex {
    display: flex;
    align-items: center;
    /* justify-content:space-evenly; */
}

.display-flex img {}

.display-flex {
    margin: 0 3vh;
    color: var(--Selected-Color, var(--dark-color));
    font-family: Quicksand;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.m3 {
    margin: 3vh 1vh;
}

.document-upload-btn {
    width: 90%;
    height: 9vh;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px dashed black;
    margin: 3vh 2vh;
    border-radius: 1vh;
    text-align: center;
    color: var(--dark-color);
    /* Head */
}

.submission-form-submit-btn {
    width: 40vh;
    height: 7vh;
    margin: 1vh 9%;
    margin-bottom: 2vh;
    border: none;
    border-radius: 1vh;
    background-color: green;

}

/* Help and Support  */
.help-support-faqs-section::-webkit-scrollbar-track {
    background-color: transparent;
    /* Hide the track */
}

.help-support-faqs-section::-webkit-scrollbar-thumb {
    background-color: transparent;
    /* Hide the thumb */
    border: none;
    /* Hide the border */
}

.help-support-faqs-section::-webkit-scrollbar {
    width: 0.5rem;
    /* Adjust to your desired width */
    background-color: transparent;
    /* Hide the background */
}

.help-support-main-section {

    overflow: hidden;
}

.help-support-faqs-section {
    width: 100%;
    /* padding: 2vh; */
    overflow: hidden;
    overflow-x: scroll;
    height: 40vh;
    scroll-behavior: smooth;
    scrollbar-width: none;
    /* background-color: red; */
    margin: auto;
    display: flex;
}

.help-support-faqs-headline {
    margin: 0 4vh;
}

.help-support-faq {
    width: 100vh;
    height: 34vh;
    padding: 2vh;
    margin: 1vh 2vh;
    border: 1px solid grey;
    border-radius: 2vh;
    /* background-color: green; */
}

.help-support-faq h4 {
    margin: 1vh 0;
    width: 35vh;
}

.help-support-faq p {
    height: 60%;
}

.help-support-faq div img {
    margin: 0 1vh;
}

.help-support-suggestion-section {
    width: 90%;
    margin: 0 auto;
    padding: 2vh;
    height: 40vh;
    /* background-color: red; */
}

.help-support-suggestion-section h4 {
    margin: 1vh 0;
}

.help-support-suggestion-section textarea {
    width: 90%;
    height: 80%;
    padding: 2vh;
    border-radius: 1vh;
}

.help-support-ContactUs-section h4 {
    margin: 1vh 2vh;
}

.contactUs-detail-btn {
    font-size: 16px;
    width: 90%;
    height: 7vh;
    background-color: var(--light-color);
    border-radius: 2vh;
    display: flex;
    align-items: center;
    margin: 2vh auto;
    padding: 1vh;
    -webkit-box-shadow: -15px 18px 12px -14px rgba(0, 0, 0, 0.59);
    -moz-box-shadow: -15px 18px 12px -14px rgba(0, 0, 0, 0.59);
    box-shadow: -15px 18px 12px -14px rgba(0, 0, 0, 0.59);

    /* justify-content: space-around; */
}

.contactUs-detail-btn img {
    margin: 0 2vh;
}

.contactUs-detail-btn label {
    width: 30vh;
}

.contactUs-detail-btn button {
    /*  */
    text-align: left;
    width: 20vh;
    height: 5vh;
    border-radius: 4vh;
    border: none;
    text-align: center;
    background-color: #BBDEFB;
    color: var(--accent);

}

.Notification-main-section {
    /* overflow: hidden; */
}

.Notification-headline-section {
    width: 95%;
    /* background-color: aqua; */
    margin: 2vh auto;
}

.notification-option {
    width: 100%;
    overflow: hidden;
    overflow-x: scroll;
    height: 7vh;
    scroll-behavior: smooth;
    scrollbar-width: none;
    margin: 1vh 0;
    display: flex;
}

.notification-option::-webkit-scrollbar {
    display: none;
}

/* Hiding scrollbar for IE, Edge and Firefox */
#content {
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* IE and Edge */
}

.notification-option-btn {
    text-align: center;
    display: flex;
    background-color: var(--dark-color);
    width: 50vh;
    color: var(--Background, var(--body-background));
    text-align: center;
    /* Body */
    font-family: Quicksand;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    align-items: center;
    justify-content: center;
    height: 1vh;
    padding: 2vh 5vh;
    margin: 1vh 1vh;
    border: 1px solid grey;
    border-radius: 1vh;
}

.Notification-headline-Alerts {
    margin-top: 3vh;
    /*  */
}

.notifcation-message {
    width: 90%;
    margin: 2vh auto;
    height: 100%;
    border-radius: 1vh;
    padding: 1vh;
    border-radius: 10px;
    background: var(--Container, var(--light-color));
}

.notificatio-proile-detail {
    width: 100%;
    height: 8vh;
    display: flex;
    align-items: center;
}

.notificatio-proile-detail img {
    margin: 1vh 1vh;
}

.notificatio-proile-detail,
.notifcation-message {
    color: var(--Selected-Color, var(--dark-color));
    font-family: Quicksand;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.notifcation-message .notification-subheadline {
    margin: 0.5vh 3vh;
}

.notification-subheadline:nth-child(3) {
    margin: 2vh 3vh;
}

.profile-option-section {
    position: fixed;
    top: 86%;
    left: 2vh;
    /* left: ; */
    /* margin: auto; */
}

.profile-main-section {
    width: 100%;
    height: 720px;
    /* padding: 2vh; */
    overflow: hidden;
    background-color: rgb(244, 245, 245);
    /* background-color: red; */
    color: black;
}

.profile-headline-section {
    width: 100%;
    height: 10vh;
    /* background-color:red; */
    padding: 2vh;
}

.profile-headline {
    font-size: 20px;
    /* margin: 2vh 0; */
}

.profile-headline h2 {
    margin: 2vh 0;
}

.profile-edit-section {
    width: 100%;
    height: 25vh;
    margin: auto;
    display: grid;
    /* place-items: center; */
}

.profile-edit-section h2 {
    margin: 2vh 0;
}

.profile-logo {
    width: 10vh;
    height: 10vh;
    /* background-color: green; */
    margin: auto;
    background-size: cover;
    background-image: url("./img/logo.png");
}

.profile-edit-headline {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 17px;
    margin: 0.5vh 0;
}

.profile-edit-btn {
    width: 40vh;
    margin: 0.5vh auto;
    height: 4.5vh;
    background-color: black;
    color: var(--body-background);
    border-radius: 7px;
    border: none;
}

.profile-other-main {
    margin: 2vh 0 0 0;
    width: 100%;
    /* height: 100vh; */
}

.profile-other-section {
    padding: 2vh 2vh 0;
    display: grid;
    /* place-items: center; */
}

.profile-other-section {
    font-size: 23px;
}

.profile-other-btn {
    width: 43vh;
    display: flex;
    background-color: rgb(222, 235, 235);
    align-items: center;
    /* margin: 0 2vh; */
    padding: 0 1vh;
    height: 6.5vh;
    border-radius: 1vh;
    border: none;
    margin: 1vh auto;
    -webkit-box-shadow: -15px 18px 12px -14px rgba(0, 0, 0, 0.59);
    -moz-box-shadow: -15px 18px 12px -14px rgba(0, 0, 0, 0.59);
    box-shadow: -15px 18px 12px -14px rgba(0, 0, 0, 0.59);
}

.help-icon {
    margin: 0 1vh;
}

.profile-logout-btn {
    width: 43vh;
    height: 5.7vh;
    margin: 2vh auto;
    border-radius: 1vh;
    background-color: red;
    border: none;
    font-size: 17px;
    color: var(--body-background);
}

.profile-option-section {
    width: 90%;
    margin: auto;
    margin-top: 5vh;
    color: var(--body-background);
    border-radius: 1.1vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 7vh;
    background-color: black;
}