/* Frame of the Logo */
.logobox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Adding the styles to the logo */
.logo {
    width: 350px;
    flex-shrink: 0;
    justify-content: center;
    display: flex;
}

/* Setting the style for all the img tags */
.logo-width {
    width: 65%;
}

/* Light blue colored box */
.container {
    max-width: 440px;
    padding: 0 20px;
    margin: 0px auto;
}

/* Margins and style for the container */
.wrapper {
    width: 100%;
    background: var(--Container, #DDE6ED);

    box-shadow: -4px 8px 10px -5px rgba(0, 0, 0, 0.20);

}

/* Styles for textfield */
.textfield {
    
}

/* Padding for the text field */
.wrapper form {
    padding: 5px 25px 15px 25px;
}

/* Text fields */
.wrapper form .row {
    height: 45px;
    margin-bottom: 15px;
    position: relative;
}

/* Margins for the textfields */
.wrapper form .row input {
    height: 100%;
    width: 100%;
    outline: none;
    padding-left: 60px;
    border-radius: 5px;
    border: 0px;
    font-size: 16px;
    transition: all 0.3s ease;
}

/* backgound styles and shadow for the container */
form .row input:focus {
    border-color: #b9daff;
    box-shadow: inset 0px 0px 2px 2px #585858;
}

/* Styles for the placeholder */
form .row input::placeholder {
    color: #b0afaf;
}

/* Styles for the text above the text-field */
.label {
    display: block;
    margin-top: 15px;
    margin-bottom: 5px
}

/* Common styles for Text-fields */
.text-field {
    display: block;
    height: 40px;
    width: 100%;
    background-color: white;
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: 300;
    border: 0;
    border-bottom: 1px solid #ccc;
}

/* Text above and below the login button */
.text-pass {
    margin: 10px 0 5px 0;
    font-size: 13px;
}

/* On click link change the color */
.text-pass a {
    color: #0051ff;
    font-size: 13px;
    text-decoration: none;
}

/* When clicked the link, it turns to the underlined text */
.text-pass a:hover {
    text-decoration: underline;
}

/* Styles for the login button */
.button {
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    padding-left: 0px;
    background: #0051ff;
    border: 1px solid #0051ff;
    cursor: pointer;
}

/* Background color for the login button */
.button:hover {
    background: #0043d3;
}

/* Signup button */
.signup-link {
    text-align: center;
    margin-top: 20px;
    font-size: 13px;
}

/* Signup link color */
.signup-link a {
    color: #0051ff;
    text-decoration: none;
}

/* When clicked signup text gets underline */
.signup-link a:hover {
    text-decoration: underline;
}